
  %icon-arrow-circle {
  content: "\f101";
  }

  .icon-arrow-circle:before {
  content: "\f101";
  }

  %icon-arrow-left {
  content: "\f102";
  }

  .icon-arrow-left:before {
  content: "\f102";
  }

  %icon-arrow-right {
  content: "\f103";
  }

  .icon-arrow-right:before {
  content: "\f103";
  }

  %icon-check-circle {
  content: "\f104";
  }

  .icon-check-circle:before {
  content: "\f104";
  }

  %icon-chevron-down {
  content: "\f105";
  }

  .icon-chevron-down:before {
  content: "\f105";
  }

  %icon-chevron-left-square {
  content: "\f106";
  }

  .icon-chevron-left-square:before {
  content: "\f106";
  }

  %icon-chevron-right-square {
  content: "\f107";
  }

  .icon-chevron-right-square:before {
  content: "\f107";
  }

  %icon-chevron-up-circle {
  content: "\f108";
  }

  .icon-chevron-up-circle:before {
  content: "\f108";
  }

  %icon-info {
  content: "\f109";
  }

  .icon-info:before {
  content: "\f109";
  }

  %icon-menu-close {
  content: "\f10a";
  }

  .icon-menu-close:before {
  content: "\f10a";
  }

  %icon-menu-open {
  content: "\f10b";
  }

  .icon-menu-open:before {
  content: "\f10b";
  }

  %icon-x-close {
  content: "\f10c";
  }

  .icon-x-close:before {
  content: "\f10c";
  }
