
  %icon-address {
  content: "\f101";
  }

  .icon-address:before {
  content: "\f101";
  }

  %icon-area {
  content: "\f102";
  }

  .icon-area:before {
  content: "\f102";
  }

  %icon-arrow-circle {
  content: "\f103";
  }

  .icon-arrow-circle:before {
  content: "\f103";
  }

  %icon-arrow-left {
  content: "\f104";
  }

  .icon-arrow-left:before {
  content: "\f104";
  }

  %icon-arrow-right {
  content: "\f105";
  }

  .icon-arrow-right:before {
  content: "\f105";
  }

  %icon-cart {
  content: "\f106";
  }

  .icon-cart:before {
  content: "\f106";
  }

  %icon-check-circle {
  content: "\f107";
  }

  .icon-check-circle:before {
  content: "\f107";
  }

  %icon-chevron-left-square {
  content: "\f108";
  }

  .icon-chevron-left-square:before {
  content: "\f108";
  }

  %icon-chevron-right-square {
  content: "\f109";
  }

  .icon-chevron-right-square:before {
  content: "\f109";
  }

  %icon-chevron-up-circle {
  content: "\f10a";
  }

  .icon-chevron-up-circle:before {
  content: "\f10a";
  }

  %icon-facebook {
  content: "\f10b";
  }

  .icon-facebook:before {
  content: "\f10b";
  }

  %icon-flex {
  content: "\f10c";
  }

  .icon-flex:before {
  content: "\f10c";
  }

  %icon-hor-lines {
  content: "\f10d";
  }

  .icon-hor-lines:before {
  content: "\f10d";
  }

  %icon-info {
  content: "\f10e";
  }

  .icon-info:before {
  content: "\f10e";
  }

  %icon-lock {
  content: "\f10f";
  }

  .icon-lock:before {
  content: "\f10f";
  }

  %icon-mail {
  content: "\f110";
  }

  .icon-mail:before {
  content: "\f110";
  }

  %icon-menu-close {
  content: "\f111";
  }

  .icon-menu-close:before {
  content: "\f111";
  }

  %icon-menu-open {
  content: "\f112";
  }

  .icon-menu-open:before {
  content: "\f112";
  }

  %icon-pay {
  content: "\f113";
  }

  .icon-pay:before {
  content: "\f113";
  }

  %icon-phone {
  content: "\f114";
  }

  .icon-phone:before {
  content: "\f114";
  }

  %icon-stats {
  content: "\f115";
  }

  .icon-stats:before {
  content: "\f115";
  }

  %icon-twitter {
  content: "\f116";
  }

  .icon-twitter:before {
  content: "\f116";
  }

  %icon-watch {
  content: "\f117";
  }

  .icon-watch:before {
  content: "\f117";
  }

  %icon-web {
  content: "\f118";
  }

  .icon-web:before {
  content: "\f118";
  }

  %icon-x-close {
  content: "\f119";
  }

  .icon-x-close:before {
  content: "\f119";
  }
