@use '../../assets/css/common.scss' as c;

.select {
  &__item {
    padding: 15px 10px;
    border-radius: 8px;
    border: 1px solid c.$brown-two;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    border-radius: 8px;
    border: 1px solid c.$brown-two;
    overflow: hidden;
    display: none;
    > li {
      padding: 15px 10px;

      &:hover {
        color: c.$light-one;
        background-color: c.$blue-two;
      }
    }

    &--visible {
      display: block;
    }
  }
}
