@use '../../assets/css/common.scss' as c;

.select {
  width: 600px;

  &__item {
    padding: 15px 10px;
    border-radius: 8px;
    border: 1px solid c.$brown-two;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      width: 100%;
      display: flex;

      .selected-tag {
        display: flex;
        align-items: center;
        margin-right: 5px;
        padding: 5px;
        color: c.$light-one;
        background-color: c.$blue-four;
        border-radius: 20px;

        .icon {
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
  }

  &__list {
    border-radius: 8px;
    border: 1px solid c.$brown-two;
    overflow: hidden;
    display: none;

    > li {
      padding: 15px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        color: c.$light-one;
        background-color: c.$blue-two;
      }
    }

    &--visible {
      display: block;
    }
  }
}
